body {
    background-color: #e2dfdf;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    
}

main {
    margin: 15px;
}

footer {
    background-color: #a3a2a28f;

}

.Logo {
    display: flex;
    top: 0px;
}

ul {
    
    justify-content: center;
}

li {
    list-style: none;
}

button {
    background-color: #bdbfd6;
    border-color: #e2dfdf;
    border-radius: 35px;
    padding: 15px;
    font-weight: 950;
    font-size: medium;

}

a {
    text-decoration: none;
    color: rgb(255, 253, 253);
}



.Router {
    display: flex;
    justify-content: start;
}

.B1 {
    padding: 10px;
    background-color: blueviolet;
    color: white;
}

.B2 {
    padding: 10px;
}

.A1 {
    color: white;
}

.Nombres {
    display: flex;
    justify-content: start;
    list-style: none;
}
.Nombres1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    

}
.Container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.veinteventicuatro{
    display: flex;
    justify-content: center;

}
.Container_Logos{
    display: flex;
    align-items: center;
    justify-content: center;

}
.P {
    margin: 0px;
}

.imgRedes {
    display: flex;
    align-items: center;
}

.InstRedes {
    display: flex;
    margin: 125px 5px;
}

.textos {
    display: inline-block;
    margin: 15px;
    color: white;

}
.Menu{
    color: white;
}
.jajaja{
    color: white;
}
  
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }
  #Menu{
    display: flex;
  }
			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
                display:contents;
                justify-content: center;
                
                width:100%;
				font-family:Arial, Helvetica, sans-serif;
            }
			
		
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
    
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
            .nav{
                display: flex;
                
            }
		
